from os.path import join

DEBUG = False
TEMPLATE_DEBUG = DEBUG

SECRET_KEY = '{{ secret_key }}'

ALLOWED_HOSTS = ['{{ domain_name }}',]

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "NAME": "{{ db_name }}",
        "USER": "{{ db_name }}",
        "PASSWORD": "{{ db_pass }}",
        "HOST": "localhost",
        'STORAGE_ENGINE': 'INNODB',
        'OPTIONS': {'charset': 'utf8mb4'},
    }
}

PUBLIC_DIR = '{{ project_root }}/public_html/'
STATIC_ROOT = join(PUBLIC_DIR, 'static')
MEDIA_ROOT = join(PUBLIC_DIR, 'media')

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': '{{ project_root }}/logs/debug.log',
        },
    },
    'loggers': {
        'django.request': {
            'handlers': ['file'],
            'level': 'DEBUG',
            'propagate': True,
        },
    },
}

EMAILS_TO = ['{{ smtp_login }}', ]


EMAIL_HOST = 'smtp.mail.ru'
EMAIL_PORT = 465
EMAIL_USE_TLS = True
EMAIL_HOST_USER = '{{ smtp_login }}'
EMAIL_HOST_PASSWORD = '{{ smtp_password }}'