#!/usr/bin/env python
# -*- coding: utf-8 -*-
import sys, os

PROJECT_PATH = '{{ project_root }}/app'
PYTHON_EXE = '{{ project_root }}/venv/bin/python3'

# Add path
sys.path.extend([PROJECT_PATH])

# Activate venv
if sys.executable != PYTHON_EXE:
    os.execl(PYTHON_EXE, PYTHON_EXE, *sys.argv)

# Run django application
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "app.settings.production")

from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()
